/*Reset css*/
 #ff548f
 #ff69b4
 #ff1493
 #ff00ff
 #db7093
 #ffb6c1


*{

    margin:0;
    padding: 0;
    box-sizing: border-box;
}  

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#9c5b99;
}
header{
    background-color: darkmagenta;
    padding: 60px;
    text-align: center;
    color: #202020;
    font-weight: bold;
    font-style: italic;
}

nav{
    display: flex;
    background-color: rgb(211, 133, 226);
    padding:  40px;
    justify-content: center;
}
    


    nav a{
        color: rgb(12, 4, 9);
        padding: 10px;
        text-decoration: none;
        text-align: center;

    }
    nav a:hover{
        background-color: rgb(206, 144, 204);
        color: rgb(191, 228, 233);
    }

    #row{
        display:flex;
        flex-wrap:wrap;
    }

    img{
        background-color : hotpink;
        width : 200px;
        border-radius: 20px;
        padding: 20px;
    
    }
    aside{
        flex:38%;
        background-color: #eba3e6;
        padding:30px;
    }
    
main{
    flex:62%;
    background-color: plum;
    padding:30px;
}

article{
    box-shadow: 0px 0px 10px
    deeppink;
    padding: 5px;
    border-radius: 10px;
}
 footer{
    background-color: darkmagenta;
    padding: 40px;
    text-align: center;
    color: black;
    font-size: 12px;
 }

 @media screen and(max-width:400px) {
    nav{
        flex-direction: column;
    }
    
 }





